.App {
  font-family: 'Arial', sans-serif;
}

.profile-container {
  background-color: navy;
  color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}

.name {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.biography {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.contact-info p {
  margin: 5px 0;
}

.contact-info a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.contact-info a:hover {
  text-decoration: underline;
}

.skills-list {
  background-color: navy;
  color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}

.skills-title {
  font-size: 2em;
  margin-bottom: 20px;
}

.skill {
  background-color: white;
  border: 2px solid navy;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.skill-name {
  font-size: 1.5em;
  color: navy;
}

.skill-level {
  font-size: 1.2em;
  color: gray;
}

.work-experience-list {
  background-color: navy;
  color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}

.work-experience-title {
  font-size: 2em;
  margin-bottom: 20px;
}

.work-experience {
  background-color: white;
  border: 2px solid navy;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.job-title {
  font-size: 1.5em;
  color: navy;
}

.company-name,
.duration {
  font-size: 1.2em;
  color: gray;
}

.education-list {
  background-color: navy;
  color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}

.education-title {
  font-size: 2em;
  margin-bottom: 20px;
}

.education {
  background-color: white;
  border: 2px solid navy;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.school-name {
  font-size: 1.5em;
  color: navy;
}

.degree,
.major,
.years {
  font-size: 1.2em;
  color: gray;
}
